html, body { padding: 0; border: 0px none; font-family: Verdana; font-size: 13px; }

/* Label */  

br { clear: left; }  

.textbox { border: 1px solid #999999;  border-top-color: #CCCCCC;  border-left-color: #CCCCCC; color: #333333;  font: 90% Verdana, Helvetica, Arial, sans-serif; font-size: 11px; }

h1 { font-size: 17px; }

div { font-family: Verdana; font-size: 13px; }

/* 'Login' Button */
#submit { margin: 7px; padding: 0px; float: center; width: 50px; background-color: white; }

#notification_error { color: red; height: auto; padding: 4px; text-align: center; }

#login_response { overflow: auto;


 }
 #ajax_ans
 {
   display: none;
 }

#ajax_loading { display: none; font-size: 12px; font-family: Tahoma; }

#logged_in { padding: 5px; margin: 23px 0 100px 43px; padding: 5px; text-align: center; width: 400px; }

#status { margin-top: 20px; width: 310px; }

#submit1 {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 6.5px 13px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 70px;
   margin-top: 0px;
   }
#submit1:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #e3d1e3;
   }
#submit1:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }